{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="{{asset('js/ripples.min.js')}}"></script>
<script src="{{asset('js/material.min.js') }}"></script>
<script type="text/javascript" src="{{asset('js/moment-locales.js')}}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap-material-datetimepicker.js') }}"></script>


{% endblock %}
{% block body %}
{% if erreur != '' %}
<div class="alert alert-dismissible alert-danger">
  <strong>Ouuups !</strong> {{ erreur }}
</div>
{% endif %}
<br>
<div class="container">
<div class="align-item-center">
<div class="row justify-content-center">	
	<div class="card border-info col col-8" >
		<div class="card-header text-center"><b>{{ 'nav.create'|trans }}</b></div>
		<div class="card-body">

			<form action="{{ path('ajoutEvent') }}"  method="post">
				<table class="table table-hover">
					<tr>
			   			<td  >{{ 'Categorie.createEvent'|trans}} </td>
			   			<td>
						    <select name="Categorie" class="custom-select">
								{% for key,type in types %}
									<option  value={{ key }} {% if categorie == key %} selected {% endif %}>{{ type }}</option>
								{% endfor %}
						    </select>
			   			</td>
			   		</tr>
			    	<tr>
			    		<td  >{{'Description.createEvent'|trans}} </td><td> <input type="text" name="Description" class="form-control" value={{ description | default('') }}></td>
			    	</tr>
			    	<tr>
			   			<td>{{'Lieu.createEvent'|trans}} </td><td><input type="text" name="Lieu" class="form-control" value={{ lieu | default('') }}></td>
			   		</tr>
			   		<tr>
			   			<td>
			   				{{'Date.createEvent'|trans}}
			   			</td>
			   			<td>
		  					<input name="date" type="date" class="form-control" value={{ date | default('') }}>
		  				</td>
			   		</tr>
			   		<tr>
			   			<td>
							{{'Heure.createEvent'|trans}}
						</td>
						<td>
							<div class="form-control-wrapper">
								<input name = "heure" type="text" id="time" class="form-control floating-label" placeholder="" value={{ heure | default('') }}>
							</div>

		  				</td>
			   		</tr>
			   		<tr>
			   			<td>
			   				<input type="submit" value="AJOUTER" name="ajouter" class="btn btn-primary btn-md btn-block">
			   			</td>
			   		</tr>
			   		<tr>
			   			<td></td>
			   		</tr>
			   	</table>
			</form>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}

{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap-material-datetimepicker.css') }}" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
{% endblock %}