{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">{{ 'title.myEvents'|trans }}</h1>
  <p class="lead">{{ 'description.myEvents'|trans }}</p>
  <hr class="my-4">
</div>

<section class="row-section">
    <div class="container">
	    <div class="col-md-10 offset-md-1 row-block">
	        <ul id="sortable">
	        	{% for participe in participantEvenement %}

		        	{% for event in evenement %}
<<<<<<< HEAD
		        		{% if  ( participe.id == event.id  ) %}
=======
		        		{% if  ( participe.idEvenement == event.id   and  participe.idPersonne == app.user.id ) or
		        			(  app.user.id == event.idPersonne  ) %}
>>>>>>> meilleur-requetes-barre-de-recherche

			            <li><div class="media">
			            <div class="media-left align-self-center">
			                <img class="rounded-circle" src="{{ asset('img/fondProfil.png') }}">
			            </div>
<<<<<<< HEAD
		            	<div class="media-body">
							<h4>
							{% for profil in profils %}
								{% if event.idPersonne == profil.id %}
									{{ profil.userName }}
								{% endif %}
							{% endfor %}
							</h4>
							<p>
							<i>
								{{ typeEvent[event.idTypeEvenement] }}
							</i>
							<br>
							{{ event.dateEvenement }}
							</p>
						</div>
						<div class="media-body">
							</p>
							<b>{{ event.description }}</b>
						</div>
						<div class="col-xs-4 align-self-center" style="width: 7rem;">
							<div class="media-right align-self-center">
			                <a href="{{ path('showEvenement', { id :  event.id }) }}"><input type="submit" 
			                value="{{ 'more.event'|trans }}" name="Info" class="btn btn-info btn-xs btn-block"></a>
			            	</div>
			            	<br>
			            	{% if event.idPersonne == user.id %}
							<div class="media-right align-self-center">
			                <a href="{{ path('deleteEvenement' , { id :  event.id }) }}"><input type="submit" 
			                value="{{ 'delete.event'|trans }}" name="Info" class="btn btn-danger btn-xs btn-block"></a>
			            	</div>
			            	{% else %}
			            	<div class="media-right align-self-center">
			                <a href="{{ path('unsubscribe', { id :  event.id }) }}"><input type="submit" 
			                value="{{ 'unsubscribe.event'|trans }}" name="Info" class="btn btn-danger btn-xs btn-block"></a>
			            	</div>

							{% endif %}
						</div>


=======
			            <div class="media-body">
			            	<h4>
			            	</h4>
			            	<p>
			            	<i>
			            		{% if event.idTypeEvenement == 1 %}
				   					Party
				   				{% elseif event.idTypeEvenement == 2 %}
				   					Study
				   				{% elseif event.idTypeEvenement == 3 %}
				   					Theatre
				   				{% elseif event.idTypeEvenement == 4 %}
				   					Cinema
				   				{% elseif event.idTypeEvenement == 5 %}
				   					Restaurent
				   				{% elseif event.idTypeEvenement == 6 %}
				   					Sport
				   				{% endif %}
				   			</i><br>
			                {{ event.dateEvenement }}</p>
			            </div>
			            <div class="media-right align-self-center">
			                <a href="{{ path('showEvenement', { id :  event.id }) }}"><input type="submit" value="more info" name="Info" class="btn btn-info btn-xs btn-block"></a>
			            </div>
>>>>>>> meilleur-requetes-barre-de-recherche
			        </div></li>
			        {% endif %}
			        {% endfor %}
		        {% endfor %}

	        </ul>
	    </div>
</div>
</section>

{% endblock %}

{% block stylesheets %}
  	<link href="{{ asset('css/Events.css') }}" rel="stylesheet">


{% endblock %}
