{% extends 'base.html.twig' %}

{% block body %}
{% if messageEvent != '' %}
	<div class="alert alert-dismissible alert-secondary">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	   {{messageEvent}}
	</div>
{% endif %}
<div class="jumbotron">
  <h1 class="display-6">{{ 'title.myEvents'|trans }}</h1>
  <p class="lead">{{ 'description.myEvents'|trans }}</p>
  <hr class="my-4">
</div>

<section class="row-section">
    <div class="container">
	    <div class="col-md-10 offset-md-1 row-block">
	        <ul id="sortable">
	        	{% for participe in participantEvenement %}
	        		
		        	{% for event in evenement %}
		        		{% if  ( participe.id == event.id  ) %}

			            <li>
			            	<div class="media">
			            		<div class="media-left align-self-center">
			                	<img class="rounded-circle" src="{{ asset('img/fondProfil.png') }}"/>
			            	</div>
		            		<div class="media-body">
								<h4>
								{% for profil in profils %}
									{% if event.idPersonne == profil.id %}
										{{ profil.userName }}
									{% endif %}
								{% endfor %}
								</h4>
								<p>
									<i>
										{{ typeEvent[event.idTypeEvenement] }}
									</i>
								<br>
									{{ event.dateEvenement }}
								</p>
							</div>
							<div class="media-body">
							</p>
							<b>{{ event.description }}</b>
						</div>
						<div class="col-xs-4 align-self-center largeur" >
							<div class="media-right align-self-center">
			                <a href="{{ path('showEvenement', { id :  event.id }) }}"><input type="submit" 
			                value="{{ 'more.event'|trans }}" name="Info" class="btn btn-info btn-sm btn-block"></a>
			            	</div>
			            	<hr>
			            	{% if event.idPersonne == user.id %}
							<div class="media-right align-self-center">
			                <a href="{{ path('deleteEvenement' , { id :  event.id }) }}"><input type="submit" 
			                value="{{ 'delete.event'|trans }}" name="Info" class="btn btn-danger btn-sm btn-block"></a>
			            	</div>
			            	{% else %}
			            	<div class="media-right align-self-center">
			                <a href="{{ path('unsubscribe', { id :  event.id }) }}"><input type="submit" 
			                value="{{ 'unsubscribe.event'|trans }}" name="Info" class="btn btn-danger btn-sm btn-block"></a>
			            	</div>


							{% endif %}
						</div>


			        </div></li>
			        {% endif %}
			        {% endfor %}
		        {% endfor %}
	        
	        </ul>
	    </div>
</div>
</section>

{% endblock %}

{% block stylesheets %}
  	<link href="{{ asset('css/Events.css') }}" rel="stylesheet">


{% endblock %}