{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container">
<div class="align-item-center">
<div class="row justify-content-center">	
	<div class="card border-info col col-12" >
		<div class="card-header text-center"><b>{{ typeEvent[event.idTypeEvenement] }}</b></div>
		<div class="card-body">
		<table class="table table-hover">
	    	<tr>
	    		<td  >Description : </td><td> {{ event.description }}</td>
	    	</tr>
	    	<tr>
	   			<td>Lieu : </td><td> {{ event.lieu }}</td>
	   		</tr>
	    	<tr>
	   			<td>Date : </td><td> {{ event.dateEvenement }}</td>
	   		</tr>
	    	<tr>
	   			<td>Heure : </td><td> {{ event.heureEvenement }}</td>
	   		</tr>
	   		{% if app.user.id == event.idPersonne %}
	   		<tr>
	   			<td>
<<<<<<< HEAD
					<a href="{{ path('deleteEvenement', { id :  event.id }) }}"><input type="submit" 
					value="{{ 'delete.event'|trans }}" name="delete" class="btn btn-danger btn-sm btn-block"></a>
					
				</td>
=======
	   				<a href="{{ path('deleteEvenement', { id :  event.id }) }}"><input type="submit" value="Delete" name="delete" class="btn btn-danger btn-sm btn-block"></a>
	   			</td>
>>>>>>> meilleur-requetes-barre-de-recherche
	   			<td>
	   				<a href="{{ path('modifyEvenement', { id :  event.id }) }}"><input type="submit" value="Modify" name="{{ 'modify.event'|trans }}" class="btn btn-info btn-sm btn-block"></a>
	   			</td>
	   		</tr>
	   		{% endif %}
	   	</table>

		</div>
	</div>
</div>
</div>
</div>
<br>
<div class="container">
<div class="align-item-center">
<div class="row justify-content-center">
	<div class="card border-info col col-12" >
	<div class="card-header text-center"><b>Participant</b></div>
	<table class="table">
		{% for participe in participantEvenement %}
			{% for e in participe.listeEvenement %}
				{{ event.idPersonne }}
				{% if e.idPersonne == event.idPersonne %}
					{% if (loop.index is divisibleby(4)) and (participe.id == event.id) %}
					<tr>
					{% endif %}
						
						<td>
							<div>
				            <img class="img-profil" src="{{ asset('img/fondProfil.png') }}">

							<span class="align-middle">{{ participe.userName }}</span>
							</div>
						</td>
					{% if loop.index is divisibleby(3) %}
					</tr>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</table>
	</div>
</div>
</div>
</div>

{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/Events.css') }}" rel="stylesheet">
{% endblock %}